<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: copy">

    <link rel="stylesheet" href="../../static/css/custom.css">
</head>

<body>

<div th:replace="menu.html :: copy"></div>
<div class="container index-container">

    <div class="fade"></div>

    <section class="star-wars">

        <div class="crawl">

            <div class="title">
                <p>Webshop Universe</p>
                <h1>The best you can find in the galaxy</h1>
            </div>
            <br>
            <p>Welcome to our webshop! We are the biggest webshop in the universe. Please notice we don't sell tiny
                things.</p><br>
            <p>Bla Bla Bla you should listen to the presenter... :D
            </p>

        </div>

    </section>

</div>

<div th:replace="footer.html :: copy"></div>


</body>
</html>