<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: copy">

</head>
<body>
<div th:replace="menu.html :: copy"></div>
<div class="container">

    <div class="row">
        <div class="col-75">
            <div class="container-pay">
                <form action="/checkout">
                    <div class="row">
                        <div class="col-50" >
                            <h3>Cart</h3>
                                <div th:each="prod,iterStat : ${shoppingcart}" >
                                    <span class="price" style="color:black">
                                    <i class="shopping-cart"></i>
                                    </span>
                                    <p><a class="differenta" href="#" th:text="${prod.getName()}">*products in cart</a> <span class="price" th:text="${prod.getPrice()}">*prize of the product*</span></p>
                                    <hr>
                                </div>
                            <p>Total USD: <span class="price" style="color:black" th:text="${totalPrice}"><b>*total price*</b></span></p>
                        </div>

                        <div class="col-50">
                            <h3>Billing Address</h3>
                            <label for="name"><i class="user"></i> Full Name</label>
                            <input type="text" id="name" name="firstname">
                            <label for="email"><i class="envelope"></i> Email</label>
                            <input type="text" id="email" name="email" required autocomplete="email">
                            <label for="adr"><i class="address-card-o"></i> Address</label>
                            <input type="text" id="adr" name="address">
                            <label for="city"><i class="institution"></i> City</label>
                            <input type="text" id="city" name="city">azt észrevettétek, hogy az utolsó itemet a Saggitaurus cuccot nem lehet betenni a kosárba? :smile: ne azt demozzuk mjd le
ops
                            <label for="state">State</label>
                            <input type="text" id="state" name="state">
                            <label for="zip">Zip</label>
                            <input type="text" id="zip" name="zip">
                        </div>

                        <div class="col-50">
                            <h3>Payment</h3>
                            <label>Accepted Cards</label>
                            <div class="icon-container">
                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                            </div>
                            <label for="cname">Name on Card</label>
                            <input type="text" id="cname" name="cardname">
                            <label for="ccnum">Card Number</label>
                            <input type="text" id="ccnum" name="cardnumber" pattern="\d*" maxlength="19">
                            <label for="expdate">Valid Thru</label>
                            <input type="text" id="expdate" name="expdate" placeholder="MM/YY" pattern="\d*" maxlength="4">
                            <label for="cvv">CVV/CVC</label>
                                <span class="info">* CVV or CVC is the card security code, unique three digits number on the back of your card separate from its number.</span><br>
                            <input type="password" id="cvv" name="cvv">
                        </div>
                    </div>
                    <label>
                        <input type="checkbox" checked="checked" name="sameadr">Shipping address same as billing
                    </label>
                    <div>
                        <input type="submit" value="Pay and Checkout!" class="btn btn-dark">
                    </div>
                </form>
        </div>

    </div>

</div>

</body>
</html>