<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="copy">
    <div class="container">
        <div class="menu">
            <ul>
                <li class="monolith"><span>Webshop Universe</span></li>
                <li class="mover moon-3"><span>Home</span></li>
                <li class="mover moon-2"><span>Products</span></li>
                <li class="mover moon-1"><span>Cart</span></li>
                <li class="mover moon-4"><span>Globes</span></li>
                <li class="mover moon-5"><span>Stars</span></li>
                <li class="mover moon-6"><span>Black Holes</span></li>
                <li class="mover moon-7"><span>Payment</span></li>

            </ul>


        </div>
    </div>
</div>
</body>
</html>